<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On

    RewriteBase /dev/sed-postcard-map/app
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    ## Redirect index.php to root (without infinite loop) 
    ## IE: visiting http://awesome.com/index.php redirects to http://awesome.com/
    # RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ (.*)/index\.php\ HTTP/
    # RewriteRule ^index\.php$ %1/ [R=301,L]
</IfModule>

